body{
  margin: 0 auto;


}
.left{
background-color: #4A90E2;
float: left;
height: 100vh;
width: 33%;
}

.middle{
background-color: #50E3C2;
float: left;
height: 100vh;
width: 34%;
}

.right{
background-color: #B8E986;
float: right;
height: 100vh;
width: 33%;
}
.placeholder{
  background-color: #D0021B;
  height: 20vh;
  margin-top: 0 auto;
  color: white;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: inherit;
  display: flex;
}

.imagep{
margin:auto;


}
